        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f8f9fa;
        }
        h2 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background: white;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #00437a;
            color: white;
        }
        .view-button {
            display: inline-block;
            padding: 5px 10px;
            background-color: #00437a;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .view-button:hover {
            background-color:rgb(1, 89, 160);
        }